
page-login {

  .login-content {
    background: #eee !important;
  }

  .logo {
    display: inline-block;

    min-width: 380px;
    min-height: 80px;
    background: #eee;
    contain: strict;
  }

  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
  	
  }

}
